@CHARSET "ISO-8859-1";

div#box1{
	background: #9dceff;
	width: 400px;
	height: 200px;
	
}

div#box2{
	background: #9dceff;
	width: 400px;
	height: 200px;
	
}

div#box3{
	background: #9dceff;
	width: 400px;
	height: 200px;
	overflow: hidden;
}

div#box4{
	background: #9dceff;
	width: 400px;
	height: 200px;
	position: absolute;
	top: 800px;
	left: -400px;
}

#test{
	border: #000 1px solid;
	padding: 10px 40px 40px 40px;
}